@import url('normalize.css');
@import url('reset.css');

:root {
  /* Layout */
  --base--unit: 27px;
  --container: 1272px;

  /* Color styles */
  --light-gray: rgba(235, 235, 235, 1);
  --medium-gray: rgba(168, 168, 168, 1);
  --black: rgba(44, 44, 44, 1);
  --dark-gray: rgba(110, 110, 110, 1);
  --primary: rgba(154, 199, 91, 1);
  --secondary: rgba(85, 118, 44, 1);
  --white: rgba(255, 255, 255, 1);
  --banner: #2D3E4F;

  /* Text-size styles */
  --body--ff: "Open Sans", sans-serif;
  --body: 16px;
  --banner--tt: calc(var(--base--unit) * 2);
  --section--tt: calc(var(--body) * 2);
  --content--tt: calc(var(--body) * 1.5);
  --body--link: var(--body);
  --section--desc: calc(var(--body) * 1.125);
}

/* Layout */
.big_pd {
  padding: calc(var(--base--unit) * 3) 0;
}

.big_top_pd {
  padding-top: calc(var(--base--unit) * 3);
}

.hidden {
  position: absolute;
  left: 0;
  top: -999999999em;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* Typography */

body {
  /* 
  font-family: var(--body--ff);
  font-size: var(--body);
  line-height: var(--base--unit); 
  */

  font: var(--body)/var(--base--unit) var(--body--ff);
}

.banner_tt {
  font-size: var(--banner--tt);
  line-height: var(--banner--tt);
}

.section_tt {
  font-size: var(--section--tt);
}

.content_tt {
  font-size: var(--content--tt);
}

.link {
  text-decoration: underline;
}

.btn {
  height: 39px;
  padding: 0 20px;
  background: var(--light-gray);
  color: var(--dark-gray);
  font-size: calc(var(--body) * 0.875);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

/* color */

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.banner_bg {
  background: var(--banner);
}

/* Form */

form {
  width: 350px;
  margin: 0 auto;
}

.field {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background: var(--white);
  height: calc(var(--base-unit) * 2);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black);
  border-radius: 3px;
}

.field:focus-within {
  box-shadow: inset 0 0 15px rgba(90, 1, 255, 0.9)
}

.field span {
  color: var(--medium-gray);
}

.field input {
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
}

.field input::placeholder {
  color: var(--medium-gray);
}

.button {
  width: 100%;
  box-sizing: border-box;
  height: calc(var(--base-unit) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--body) * 1.125);
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 3px;
}

/* HEADER */
header {
  background: var(--white);
  padding: var(--base-unit) 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}