.banner .section_tt {
  color: var(--white);
  font-weight: 300;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--base-unit) * 2) ;
}

.banner .titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-unit);
}